---
import { getI18N } from "../i18n/index";
import videos from "../data/videos.json";
import YoutubeIcon from "./icons/Youtube.astro";

const count = videos.length;
console.log(count);
---

<script>
  function loadVideo(url: string) {
    const iframe = document.getElementById("videoFrame") as HTMLIFrameElement;
    if (iframe) {
      iframe.src = `https://www.youtube.com/embed/${url}`;
    } else {
      console.error("No se encontró el elemento con ID 'videoFrame'");
    }
  }

  interface Video {
    urlVideo: string;
  }

  function handleImageClick(video: Video) {
    loadVideo(video.urlVideo);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const images = document.querySelectorAll(".video-thumbnail");
    images.forEach((image) => {
      image.addEventListener("click", () => {
        const videoUrl = image.getAttribute("data-video-url");
        handleImageClick({ urlVideo: videoUrl as string });
      });
    });
  });
</script>

<section class="mt-12 sm:mt-16 lg:mt-10">
  <div class="flex justify-center">
    <div class="w-full lg:w-[50%] xl:w-[60%]">
      <div class="relative h-0" style={{ paddingBottom: "56.25%" }}>
        <iframe
          id="videoFrame"
          class="absolute left-0 top-0 h-full w-full rounded-lg shadow-2xl shadow-white/10"
          src={`https://www.youtube.com/embed/${videos[0].urlVideo}`}
          frameborder="0"
          data-allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="overflow-x-auto w-full mt-10">
      <div class="flex gap-4 custom-width" style={`--count: ${videos.length}`}>
        {
          videos.map((video) => {
            return (
              <div class="relative opacity-60 hover:opacity-100 cursor-pointer">
                <img
                  data-video-url={video.urlVideo}
                  src={video.urlMiniature}
                  alt="Miniatura de video"
                  class="video-thumbnail rounded-xl mb-4"
                />
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<style>
  .custom-width {
    width: calc(25% * var(--count));
  }

  @media (max-width: 639px) {
    .custom-width {
      width: calc(50% * var(--count));
    }
  }

  @media (min-width: 640px) and (max-width: 767px) {
    .custom-width {
      width: calc(33.33% * var(--count));
    }
  }

  @media (min-width: 768px) {
    .custom-width {
      width: calc(25% * var(--count));
    }
  }
</style>
